<!DOCTYPE html>
<html>
    <head>
        <title>Upload Dataset | DataDetective</title>
    </head>

    <body>
        <h1>Upload Your Dataset</h1>

        <p>Upload Your CSV file to discover valuable insights.</p>

        <form action = "/upload" method = "post" enctype = "multipart/form-data">

            <label>Choose your CSV file</label>

            <br><br>

            <input type="file" name="dataset">

            <br><br>

            <button type="submit">Analyze Dataset</button>

        </form>
    </body>
</html>